#colorbox,#cboxOverlay,#cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}

#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
	clear:left;
}

#cboxContent {
	position:relative;
}

#cboxLoadedContent {
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

#cboxTitle {
	margin:0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
	cursor:pointer;
}

.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
	max-width:none;
	-ms-interpolation-mode:bicubic;
}

.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
}

#colorbox,#cboxContent,#cboxLoadedContent {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

#cboxOverlay {
	background:#000;
}

#colorbox {
	outline:0;
}

#cboxContent {
	margin-top:40px;
	background:#000;
}

.cboxIframe {
	background:#fff;
}

#cboxError {
	padding:50px;
}

#cboxTitle {
	position:absolute;
	top:-20px;
	left:0;
	color:#ccc;
}

#cboxCurrent {
	position:absolute;
	top:-20px;
	right:0;
	color:#ccc;
}

#cboxLoadingGraphic {
	background:url(../images/loading.gif) no-repeat center center;
}

#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose {
	border:0;
	padding:0;
	margin:0;
	overflow:visible;
	width:auto;
	background:none;
}

#cboxPrevious:active,#cboxNext:active,#cboxSlideshow:active,#cboxClose:active {
	outline:0;
}

#cboxSlideshow {
	position:absolute;
	top:-20px;
	right:90px;
	color:#fff;
}

#cboxPrevious {
	position:absolute;
	top:50%;
	left:5px;
	margin-top:-32px;
	background:url(../images/icons.png) no-repeat -175px top;
	width:35px;
	height:35px;
	text-indent:-9999px;
}

#cboxPrevious:hover {
	background-position:-175px bottom;
}

#cboxNext {
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-32px;
	background:url(../images/icons.png) no-repeat -130px top;
	width:35px;
	height:35px;
	text-indent:-9999px;
}

#cboxNext:hover {
	background-position:-130px bottom;
}

#cboxClose {
	position:absolute;
	top:-40px;
	right:0;
	display:block;
	background:url(../images/icons.png) no-repeat -85px top;
	width:35px;
	height:35px;
	text-indent:-9999px;
}

#cboxClose:hover {
	background-position:-85px bottom;
}