@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

[hidden] {
  display: none;
}


/*---------------------------------------*/
/*--------- 1. DEFAULT STYLES -----------*/
/*---------------------------------------*/

/* wrappers - (.outer-wrap and .inner-wrap are required for positioning the off canvas menu) */
.js-ready #outer-wrap, .js-ready #inner-wrap {
  height:100%;
}
#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#inner-wrap {
  position: relative;
  padding-top:5em;
  width: 100%;
}

/*---- buttons ----*/
#nav .close-btn {
  display: none;
  overflow: hidden;
  padding: 1em;
  outline: none;
  border: 0;
  background:#999;
  white-space: nowrap;
  font-weight:bold;  
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#nav .close-btn:focus, #nav .close-btn:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.nav-btn {
  display: block;
  overflow: hidden;
  padding: 1em;
  outline: none;
  border: 0;
  background:#999;
  white-space: nowrap;
  font-weight:bold;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-btn:hover, .nav-btn:focus {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/*---- main nav ----*/
#nav {
  position: relative;
  z-index: 200;
  overflow: visible;
  width: 100%;
  
  color: #fff;
}
#nav .nav-title {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;  
}
#nav .nav-block {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0.75em 1.25em;
  max-width: 60em;
  background: #333333;
}
#nav ul {
  display: block;
  margin:0;
  padding:0;
  *zoom: 1;
}
#nav ul:before, #nav ul:after {
  display: table;
  content: "";
}
#nav ul:after {
  clear: both;
}
#nav li {
  position:relative;
  display: block;
}
#nav li a {
  display: block;
  outline: none;
  color: #ccc;
  text-decoration:none;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.28571em;
}
#nav li.is-active a {
  color: #fff;
}
#nav li.nav-clicked,
#nav li.nav-hover > a,
#nav li a:focus,
#nav li a:hover {
	background: #000;
	color:#fff;
	cursor:pointer;
}

/*---- sub menu ----*/
#nav li > ul {
	z-index:1;
	background:#666;
}
#nav li > ul > li {
	display:block;
}
#top .nav-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
  z-index: 100;
}


/*---------------------------------------*/
/*---------- 2. DESKTOP STYLES ----------*/
/*---------------------------------------*/

@media screen and (min-width: 45.0625em) {

  /*---- buttons ----*/
  #top .nav-btn {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
  }
  
  #nav .close-btn {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    background: #000;
  }
  
  /*---- main nav ----*/ 
  #nav ul {
    text-align: center;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
  }
  #nav li a {
    padding: 0.42857em 0.85714em;
  }
  
  /*---- sub menu - (javascript ready) ----*/
  .js-ready #nav li > ul {
	position:absolute;
	left:0;
	display:none;
	padding-bottom:0%;
	transition: all 0.2s ease;
  }
  .js-ready #nav li.nav-hover > ul {	
    top:100%;
	display:block;
	padding-bottom:100%;
	height:0;
} 
 
}


/*---------------------------------------*/
/*---------- 3. MOBILE STYLES -----------*/
/*---------------------------------------*/

@media screen and (max-width: 45em) {

  /*---- buttons ----*/
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 0;
  }
  
  /*---- main nav ----*/
  #nav {
    top: 0;
	overflow:hidden;
	padding-top:5.25em;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav .nav-block {
    position: relative;
    padding: 0;
  }
  #nav .nav-title {
    position: relative;
    overflow: auto;
    margin: 0;
    padding: 1em;
    width: 100%;
    height: auto;  
  }  
  #nav li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li.is-active:after {
    position: absolute;
    top: 50%;
    right: -0.03125em;
    z-index: 50;
    display: block;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-right: 0.625em white solid;
    border-bottom: 0.625em transparent solid;
    content: "";
  }
  #nav li a {
    padding: 0.85714em 2.14286em;
  }
  
  /*---- sub menu ----*/
  #nav ul li > ul {
	position:relative;
  }
  #nav ul li > ul li a {
	text-indent:1em;
  }


  /* JAVASCRIPT READY STYLES - (only applied when javascript is working) */

  /*---- wrappers ----*/
  .js-ready #inner-wrap {
    left: 0;
  }
  .js-nav #inner-wrap {
    left: 70%;
  }

  /*---- buttons ----*/
  .js-ready #nav .close-btn {
    left:1.85em;
    display: block;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
	
  /*---- main nav ----*/	
  .js-ready #nav {
	position:absolute;
	overflow-y:auto;
	padding-top:5.25em;
    width: 70%;
    height: 100%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .nav-block {
    background: transparent;
  }
  .js-ready #nav {
    left: -70%;
  }
  .js-ready #nav .menu {
  	padding-bottom:5.25em;
  }

  /*---- sub menu ----*/
  .js-ready #nav li > ul {
  	display:none;
  }
  .js-ready #nav li.nav-clicked > ul {
	position:relative;
	display:block;
  } 



	/* ANIMATIONS - (animates the transition of the push menu) */
  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate(70%, 0);
    -moz-transform: translate(70%, 0);
    -ms-transform: translate(70%, 0);
    -o-transform: translate(70%, 0);
    transform: translate(70%, 0);
  }

  .csstransforms3d.csstransitions.js-ready #nav .nav-block {
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -webkit-transform: translate(70%, 0);
    -moz-transform: translate(70%, 0);
    -ms-transform: translate(70%, 0);
    -o-transform: translate(70%, 0);
    transform: translate(70%, 0);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .nav-block {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
