// Fonts
@import url("//fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,100italic|Russo+One|Open+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%7COpen+Sans+Condensed%3A300%2C300italic%2C700%7CLobster&family=Montserrat:400,700&family=Merriweather:400,300,700&family=Wire+One&family=Abel");
// Bootstrap CSS Configuration file

// Core variables and mixins

@import "custom-variables"; // START HERE FOR MANY GLOBAL STYLES
@import "custom-mixins";
@import "custom-classes";
@import "bootstrap/mixins";

// Reset  

@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS

@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components

@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
// @import "bootstrap/input-groups";

// Navs, including the original base nav  

// @import "base-nav/nav";
@import "bootstrap/navs";
@import "bootstrap/navbar";

// Assorted sundries

// @import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";  
@import "bootstrap/media";
@import "bootstrap/list-group";
// @import "bootstrap/panels";
// @import "bootstrap/wells";
@import "bootstrap/close";

// javascript components. Can be removed if not used

@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes

@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// Font Awesome - Icon font set

@import "vendor-styles/font-awesome/scss/font-awesome";

// Colorbox (gallery plugin dependency)

@import "vendor-styles/colorbox";

// Import the bourbon mixin library (http://www.bourbon.io)
// Lots of excellent mixins for Sass.
// @import "bourbon/bourbon";  


// Custom SCSS
/* General stylesheet */
@import "style";

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	// @import "extra-styles/2x";

} // end of media query

/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
  // iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
  
}

