/**------ FONT SIZES ------**/
.fs-base{font-size:$font-size-base;}
.fs-large{font-size:$font-size-large;}
.fs-small{font-size:$font-size-small;}
/////////////////////////////////////
.fs-medium{
	font-size:$font-size-medium;
	@media screen and (max-width:768px) {
		font-size:$font-size-h1;
		padding-left:15px;
		padding-right:15px;
	}
	@media screen and (max-width:480px) {
		font-size:$font-size-h3;
	}
}
.fs-large{font-size:$font-size-large;}
.fs-xlarge{font-size:$font-size-xlarge;}
/////////////////////////////////////
.fs-h6{font-size:$font-size-h6;}
.fs-h5{font-size:$font-size-h5;}
.fs-h4{font-size:$font-size-h4;}
.fs-h3{font-size:$font-size-h3;}
.fs-h2{font-size:$font-size-h2;}
.fs-h1{
	font-size:$font-size-h1;
	@media screen and (max-width:768px) {
		font-size:$font-size-h3;
		padding-left:15px;
		padding-right:15px;
	}
	@media screen and (max-width:480px) {
		font-size:$font-size-large;
	}
}
.fs-14{font-size:14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.fs-17{font-size:17px;}
.fs-18{font-size:18px;}
.fs-19{font-size:19px;}
.fs-20{font-size:20px;}
.fs-21{font-size:21px;}
.fs-22{font-size:22px;}
.fs-23{font-size:23px;}
.fs-24{font-size:24px;}
.fs-25{font-size:25px;}
.fs-26{font-size:26px;}
.fs-27{font-size:27px;}
.fs-28{font-size:28px;}
.fs-29{font-size:29px;}
.fs-30{font-size:30px;}
.fs-31{font-size:31px;}
.fs-32{font-size:32px;}
/**------ FONT SIZES ------**/

/**------ FONT COLORS ------**/
.txt-gray2e {color:$gray2e;}
.txt-gray85 {color:$gray85;}
/**------ FONT COLORS ------**/

/**------ TABLES -----**/
.table {
	display:table;
	&.fullwidth {
		width:100%;
	}
	&.fullheight {
		height:100%;
	}
}
.table-cell {
	display:table-cell;
	&.valign-top {
		vertical-align:top;
	}
	&.valign-middle {
		vertical-align:middle;
	}
}
/**------ TABLES -----**/

/**------ CLASS HELPERS -----**/
.block {display:block;}
.center,
.text-center {text-align:center;}
.bold {font-weight:bold;}
.upper {text-transform:uppercase;}
.lower {text-transform:lowercase;}
.auto {
	margin-left:auto;
	margin-right:auto;
}
.white,
.text-white,
.txt-white {
	color:$brand-white;
}

.nofloat {float:none!important;}

.bg-attachment-fixed {background-attachment:fixed;}
.bg-attachment-static {background-attachment:static;}

.imgwrap {
	&.round {
		@include border-radius(50%);
	}
}
/**------ CLASS HELPERS -----**/

/**------ LAYOUT ------**/
.container-sm {
	@include make-small-container;
}
/**------ LAYOUT ------**/