@mixin background-size($size) {
	-moz-background-size: $size;
	-o-background-size: $size;
	-webkit-background-size: $size;
	background-size: $size;
}

@mixin inline-block {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

@mixin transition($property,$duration,$function) {
	-moz-transition-property: $property;
	-o-transition-property: $property;
	-webkit-transition-property: $property;
	transition-property: $property;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	-webkit-transition-duration: $duration;
	transition-duration: $duration;
	-moz-transition-timing-function: $function;
	-o-transition-timing-function: $function;
	-webkit-transition-timing-function: $function;
	transition-timing-function: $function;
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin thumb {
	width:150px;
	height:150px;
}

@mixin make-small-container {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	@media screen and (max-width:740px) {
		width:100%;
	}
}

@mixin linear-gradient($fromColor, $toColor) {
	background-color: $toColor; /* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}