/* LearnerLane BASE THEME MAIN CSS FILE */
/* ================================================================ */


/********************************************************************

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. MISC STYLES AND OVERRIDES
15. GLOBAL MEDIA QUERIES

******************************************************************/

/* Admin Top Navigation fixes */
 
body.admin-bar .navbar-fixed-top{ 
	top: 28px; 
	margin:0;
}

html {
	-moz-box-sizing:border-box;
}

*, *:before, *:after {
	-moz-box-sizing:inherit;
}

/******************************************************************
01. GENERAL STYLES
*******************************************************************/

html, body {
	height:100%;
}

body {
  margin-top:0;
  padding-top:0;
  font-family:$font-family-base;
  font-size:$font-size-base;
  background:$body-bg;
  color:$text-color;
}

/******************************************************************
02. WORDPRESS BODY CLASSES
*******************************************************************/


/******************************************************************
03. LAYOUT & GRID STYLES
*******************************************************************/


/******************************************************************
04. GLOBAL LINK STYLES
*******************************************************************/

a, a:visited {
	color:$link-color;
	@include transition(all .2s ease-in-out);
	&:hover, &:focus {
		color:$link-hover-color;
	}

	&:active {
		color:$link-color;
	}

	&:link {
		color:$link-color;
	}

	&.btn {
		font-family:$open_sans_font;
		@include transition(all, .2s, ease-in-out);
		color:$brand-white;
		text-decoration:none;
		&:hover {
			color:$brand-white;
		}
	}
}

.btn {
	font-family:$open_sans_font;
	@include transition(all, .2s, ease-in-out);
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	a {
		
	}
}

h1, .h1 {
	font-size:$font-size-h1;
	font-family:$font-family-h1;

	&.huge {
		font-size:$font-size-xlarge;
	}
}

h2, .h2 {
	font-size:$font-size-h2;
	font-family:$font-family-h2;

	b {
		font-weight:300;
	}
}

h3, .h3 {
	font-size:$font-size-h3;
	font-family:$font-family-h3;
}

h4, .h4 {
	font-size:$font-size-h4;
	font-family:$font-family-h4;
}

h5, .h5 {
	font-size:$font-size-h5;
	font-family:$font-family-h5;
}

h6, .h6 {
	font-size:$font-size-h6;
	font-family:$default-font-family;
}

/******************************************************************
06. HEADER STYLES
*******************************************************************/

// Homepage header only
body.home #header {
	position: absolute;
	width: 100%;
	z-index: 99;

	ul.nav li {
		a {
			color:$txt-white;
			&:hover {
				text-decoration:none;
				color:$txt-white;
			}
		}

		&.login-link a {
			border: 2px solid $brand-white;
			@include border-radius(5px);
			padding:5px 14px;
			position:relative;
			top:8px;

			&:hover {
				background:$brand-white;
				color:$gray-darker;
			}
		}
	}
}

#header {
	#logo {
		
	}
	nav {
		background-color:transparent !important;
		background-image:none;
		border:0;
		margin:0;
		@include border-radius(0);

		.navbar-collapse {
			padding-left:15px;
			padding-right:15px;
		}

		a {
			&#branding {
				padding-top:13px;
			}
		}
		ul.nav {
			li {
				&:first-child {}

				&:last-child {}
			}
		}
	}
}

/* Search box */

.search-box {
	form {
	
	}
}

/******************************************************************
07. NAVIGATION STYLES 
*******************************************************************/


/******************************************************************
08. POSTS & CONTENT STYLES
*******************************************************************/

#content {
	@include make-row;
	#sidebar {
		@include make-md-column(4);
	}
	#front-page {
		@include make-md-column(8);
	}
	#main-body {
		@include make-md-column(8);
	}
}

// Widget containers (In template parts)
/******************************************************************/

#widget-header {
	
}

#widget-top {
	
}

#widget-bottom {
	
}

#widget-left {
	@include make-md-column(4);
}

#widget-right {
	@include make-md-column(4);
}

#widget-footer {
	
}

/* MISC */

.header-image {
	width:100%;
	height:$header-img-height;
	background-repeat:no-repeat;
	background-position:center center;
	@include background-size(cover);
	margin-bottom:20px;
}

body.page-tuition-agencies .header-image .header-image-inner > h2 {
	margin-bottom:20px;
}

hr {
	&.mb60 {
		margin-bottom:60px;
	}
}

.modal #mce-responses .response {
	margin-bottom:20px;
}

ul#how-it-works {
	list-style:none;
	padding:0;
	margin: 40px 0;
	box-sizing:border-box;
	@include clearfix;

	li {
		text-align:center;
		@include make-md-column(4);
		@include make-sm-column(4);
		@include make-xs-column(12);
		@media screen and (max-width:$screen-sm) {
			float:none;
			margin-left:auto;
			margin-right:auto;
			clear:both;
			margin-bottom:20px;
		}

		img {
			max-height:80px;
			margin:0 auto;
		}

		.title {
			color:$brand-orange;
			@extend .fs-22;
			@extend .upper;
			font-family:$font-family-h1;
			font-weight:bold;
			margin-bottom:10px;
		}
	}
}

.acf-map {
	width: 100%;
	height: $header-img-height;
	border: 0 none;
	@include box-shadow(0 0 2px rgba(0,0,0,.35));
	margin: 0;
}

.ninja-forms-required-items {display:none;}

/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}

.pagination {
	li {
		a {
			&:hover,
			&:focus {}
		}
    .active {}
	}
} 

/******************************************************************
10. COMMENT STYLES
******************************************************************/


/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/


/******************************************************************
12. SIDEBARS & ASIDES
*******************************************************************/

#sidebar {
 
}

.widgettitle {

}

.widget {
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 5px 0;
			list-style: none;
			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */
			ul {}
		}
	}
}

/******************************************************************
13. FOOTER STYLES
*******************************************************************/


#footer {
	margin-left:0;
	margin-right:0;
	margin-top:30px;
	background-color:$brand-dark-beige;
	// max-width: 100%;
	// overflow: hidden;
	#footer-widgets {
		.widget {
			@include make-sm-column(6);
			@include make-md-column(3); 
		}
	}

	/* Social */
	ul#menu-social {
		text-align:center;
		li {
			@include inline-block;
			background:$brand-orange;
			border-radius:50%;
			height:42px;
			width:42px;
			line-height:42px;
			padding:0;
			margin:1em .4em;
			position:relative;

			&:hover {
				&.fa-pinterest {
					background:$pinterest-red;
				}
				&.fa-facebook {
					background:$facebook-blue;
				}
				@include box-shadow(0 0 2px #fff);
				@include transition(background,.3s,ease-in-out);
			}

			&:before {
				position: relative;
				top:1px;
				font-size: 28px;
				display: block;
				color:#fff;
			}

			a {
				width: 42px;
				height: 42px;
				text-align: center;
				display:block;
				text-indent:-9999px;
				position:absolute;
				top:0;
				left:0;
			}
		}
	}
	
	#footer-copyright {
		background-color:$brand-beige;
		padding-bottom:50px;

		.copyright,
		.content {
			padding-top:1em;
		}

		.content {
			text-align:right;
		}

		a {
			color:$gray-dark;
			text-decoration:none;
			@include transition(color,.2s,ease-in-out);
			&:hover {
				color:$brand-orange;
			}
			&:focus,
			&:active {
				color:darken($brand-orange,10%);
			}
		}

		ul {
			list-style:none;
			display:block;

			li {
				@include inline-block;
				&:not(:last-child) {
					margin-right: 1em;
				}
			}
		}
	}
}

body.page-tuition-agencies #footer {
	margin-top:0;
}

/******************************************************************
14. MISC STYLES AND OVERRIDES
*******************************************************************/
.cookieTable {
	margin-bottom: 1em;
}
.cookieTable th {
	font-weight: bold;
}
.cookieTable th, .cookieTable td {
	border: 1px solid #fff; 
	width: 28%; 
	margin: 1%; 
	padding: 1%;
	text-align: left;
}
@media screen and (max-width: 768px) {	
	.cookieTable th {display: none;}
	.cookieTable td {
		display: block;
		width: 100%;
		border: none;
	}
	.cookieTable td p {
		margin: 0;
		font-style: italic;
	}
	.cookieTable tr td:first-child {
		font-weight: bold;
		margin: 1%;
		border-top: 1px solid #fff;
		padding-top: 4%;
	}
	.cookieTable tr td:nth-child(2):before {
		content: "Purpose: ";
	}	
	.cookieTable tr td:nth-child(3):before {
		content: "Duration: ";
	}
}

/******************************************************************
15. GLOBAL MEDIA QUERIES
*******************************************************************/






